@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Hind:wght@300&family=Josefin+Sans:wght@100&family=Manrope:wght@200&family=Montserrat:wght@100&family=Open+Sans:wght@300&family=Pragati+Narrow&display=swap');
$sidebarClr:#6556D9;
$dashHover:#e0ece5;
$dashtext:#087d40;
$dashboardSvgColor:#b1a4a4;
$dashboardtextColor:#756565;
$mainBack:#F5F5F5;
$textClr:#898989;
$nameClr:#2C3339;
$simpleText:#909090;
$btnHover:#3d2dc0;
$timeClr:#F53126;
$data2:#1CC336;
$data3:#0070F5;
$switchClr:#D4D4DE;

$open: 'Open Sans';