$sidebarClr:#6556D9;
$dashHover:#e0ece5;
$dashtext:#087d40;
$dashboardSvgColor:#b1a4a4;
$dashboardtextColor:#756565;
$mainBack:#F5F5F5;
$textClr:#898989;
$nameClr:#2C3339;
$simpleText:#909090;
$btnHover:#3d2dc0;
$timeClr:#F53126;
$data2:#1CC336;
$data3:#0070F5;